*{-webkit-transition:all .5s;}
.header-top{width:100%;height:40px;background-color:rgba(168, 168, 168, 0.07);box-shadow: 0px 0px 8px -2px rgb(185, 185, 185) inset;}
.header-top>nav{float:right;}
.header-top>nav>ul>li{display: inline-block; padding: 10px;}
.header-top>nav a{font-family: 'Roboto Condensed', sans-serif; font-weight: 100; color: rgba(128, 128, 128, 0.53);}
.section-search{width:280px;height:100%;float: left;}
.section-search>div{float:left;}
.so-live{font-family: 'Roboto Condensed', sans-serif;width: 80px; background: rgb(75, 75, 75); height: 100%;}
.so-live>p{color: rgb(160, 160, 160); padding: 10px; font-size: 13px; text-transform: uppercase;}
.so-search{width: 200px; height: 100%;}
.so-search>div{width: 100%; height: 100%;}
.so-search input[type="text"]{border: 1px solid rgba(128, 128, 128, 0.1); box-shadow: 0px 0px 5px 0px rgb(247, 247, 247) inset; padding: 5px; margin: 5px; outline-color: rgb(117, 185, 247); font-size: 12px; color: rgba(12, 12, 12, 0.45); width: 140px;}
.so-search input[type="text"]:focus{width:170px;}
.container-video{width: 95%; height: 100%; margin: 20px auto;}
.header-search-container{width: 80%; height: 130px; margin: 0 auto;}
.header-search-container>img{height:100px;opacity: .8;float:left;}
.container-social-button{float:right;width:300px;height:100px;padding: 50px; font-size: 25px; color: rgb(226, 226, 226);}
.container-social-button>i{padding:5px;cursor:pointer;}
.container-social-button>i:nth-child(1):hover{color: rgb(80, 80, 80);}
.container-social-button>i:nth-child(1):hover:after{content:attr(data-titulo);padding:6px;color:gray;background:rgb(75, 75, 75);font-size:13px;border-radius:5px;position:absolute;font-family: 'Roboto Condensed', sans-serif;margin:40px 0 0 -40px;}
.container-social-button>i:nth-child(2):hover{color: rgb(158, 240, 255);}
.container-social-button>i:nth-child(2):hover:after{content:attr(data-titulo);padding:6px;color:gray;background:rgb(75, 75, 75);font-size:13px;border-radius:5px;position:absolute;font-family: 'Roboto Condensed', sans-serif;margin:40px 0 0 -40px;}
.container-social-button>i:nth-child(3):hover{color: rgb(160, 179, 255);}
.container-social-button>i:nth-child(3):hover:after{content:attr(data-titulo);padding:6px;color:gray;background:rgb(75, 75, 75);font-size:13px;border-radius:5px;position:absolute;font-family: 'Roboto Condensed', sans-serif;margin:40px 0 0 -40px;}
.container-social-button>i:nth-child(4):hover{color: rgb(255, 137, 137);}
.container-social-button>i:nth-child(4):hover:after{content:attr(data-titulo);padding:6px;color:gray;background:rgb(75, 75, 75);font-size:13px;border-radius:5px;position:absolute;font-family: 'Roboto Condensed', sans-serif;margin:40px 0 0 -40px;}
.header-search-container>nav{clear: right;}
.container-totallive{width:90%;margin:0 auto;height: 430px;}
.container-totallive>div:nth-child(1){width:800px;height:480px;float:left;background:rgb(53, 53, 53)}
.container-totallive>div:nth-child(2){width:300px;height:400px;float:right;}
.container-totallive>div:nth-child(2) button{margin-top:10px;}
.container-listvideos{clear:both;width: 96%; margin: 0 auto;}
.container-listvideos>ul{}
.container-listvideos>ul li{display: inline-block; padding: 7px; color: rgb(146, 140, 140); font-size: 12px; border: double rgb(231, 231, 231); background: rgb(243, 243, 243);}
.containerlist-totalvideos{width: 93.4%; height: 300px; margin: 0 auto;}
.video-list{width:280px;height:200px;background:red;display:inline-block;}
.modal-div{width:100%;height:100%;position:absolute;top:0px;left:0px;right:0px;background:rgba(0, 0, 0, 0.88);z-index:99;}
.container-getdata{width: 350px; max-width: 700px; overflow: hidden; height: 400px; position: relative; background-color: rgb(226, 226, 226); border-radius: 3px; border: 2px dashed rgb(216, 197, 197); margin: 10% auto; padding: 10px; box-shadow: 0px 0px 10px 1px rgb(173, 161, 161) inset;}
.partone{width: 300px;float:left;}
.partdos{width: 300px;height:400px;float:right;display: block; border-left: 1px dashed rgba(37, 36, 36, 0.33); padding-left: 30px; position: relative; left: -20px;}
.container-getdata h2{font-family: 'Numans', sans-serif; color: rgb(61, 56, 56); font-weight: 100;font-size: 16px; text-align: center; line-height: 1.5;}
.input-getname input{display:block;margin-top:10px;}
.input-getinteresting{width:80%; margin: 20px auto;}
.input-getinteresting button{margin-left:10px;}
.input-getcountry{width:100%;}
.input-getcountry>select{padding: 5px; border-radius: 3px; border: 1px solid rgb(231, 203, 203); font-size: 12px; color: rgb(78, 70, 70); width: 130px;}


